<md-content
	flex>
	
	<mb-titled-block
		layout-margin
		mb-title="mbDate filter">
		<p>By adding mbDate filter, the date value will be show as local string. For example:</p>
		<pre>_date | mbDate</pre>
		<p>The result is </p>
		<span>{{_date | mbDate}}</span>
	</mb-titled-block> 

	<mb-titled-block
		layout-margin
		mb-title="amd-datepicker">
		<p>Select date based on calender</p>
		<mb-datepicker
			ng-model="_date">
		</mb-datepicker>
		
		<p>This is an empty date  :{{_dateUndef}}</p>
		<mb-datepicker
			ng-model="_dateUndef"
			mb-placeholder="Click to set date"
			mb-hide-icons="calendar">
		</mb-datepicker>
	</mb-titled-block> 

	<mb-titled-block
		layout-margin
		mb-title="md-persian-datepicker">
		<p>The datepicker component from AngularJS Material tweaked to take
			dates in the Persian (Jalaali) calendar system, using moment-jalaali.
		</p>
	
		<md-persian-datepicker 
			ng-model="_jdate">
		</md-persian-datepicker> 
	</mb-titled-block>
	
	<mb-titled-block
		layout-margin
		mb-title="md-datepicker">
		<p>md-datepicker is a component used to select a single date. For
			information on how to configure internationalization for the date
			picker, see $mdDateLocaleProvider.</p>
	
		<md-datepicker 
			ng-model="_jdate"
			md-placeholder="Enter date">
		</md-datepicker>
	</mb-titled-block>
</md-content>