<md-dialog 
    layout="column"
    ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<wb-icon>input</wb-icon>
			<h2 translate>{{app.title}}</h2>
			<span flex></span>
			<md-button 
				class="md-icon-button" 
				ng-click="answer(config.model)"
				aria-label="done">
				<wb-icon aria-label="Done">done</wb-icon>
			</md-button>
			<md-button 
				class="md-icon-button"
				ng-click="cancel()"
				aria-label="close">
				<wb-icon aria-label="Close dialog">close</wb-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content 
		layout="column" 
		layout-padding 
		layout-align="center stretch"
		flex>
		<p translate>{{config.message}}</p>
		<md-input-container class="md-block">
			<label translate>Input value</label>
			<input 
				ng-model="config.model"
				aria-label="input value">
		</md-input-container>
	</md-dialog-content>
</md-dialog>
