<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 mb-translate>Add new word</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <mb-icon aria-label="Close dialog">close</mb-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="answer(word)">
                <mb-icon aria-label="Close dialog">done</mb-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content 
        layout="column" 
        layout-align="center stretch" 
        layout-padding
        flex>
        <span flex="10"></span>
        <md-input-container class="md-block" flex-gt-sm>
            <label mb-translate="">Key</label>
            <input ng-model="word.key">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label mb-translate="">mb-translate</label>
            <input ng-model="word.mb-translate">
        </md-input-container>
    </md-dialog-content>
</md-dialog>
