<md-dialog
	mb-local
	aria-label="Select item/items"
	style="width:70%; height:70%;">
	<form ng-cloak layout="column" flex>
		<!-- Progress -->
		<md-progress-linear
			ng-style="{'visibility': ctrl.isBusy?'visible':'hidden'}"
			md-mode="indeterminate"
			class="md-primary">
		</md-progress-linear>
		<md-dialog-content
			flex
			layout="row">
			<md-sidenav
				class="md-sidenav-left"
				md-component-id="left"
				md-is-locked-open="true"
				md-whiteframe="4"
				layout="column">
				<div
					style="text-align: center;">
					<mb-icon size="64px" ng-if="ctrl.style.icon">{{::ctrl.style.icon}}</mb-icon>
					<h2 
						style="text-align: center;"
						mb-translate>{{::ctrl.style.title}}</h2>
					<p 
						style="text-align: center;"
						mb-translate>{{::ctrl.style.description}}</p>
				</div>
				<md-devider></md-devider>
				<md-content>
					<md-list
						style="padding:0px; margin: 0px">
						<md-list-item 
							ng-repeat="page in ctrl.pages | orderBy:priority"
							ng-click="ctrl.loadPage(page, $event);"
							md-colors="ctrl.isPageVisible(page) ? {background:'accent'} : {}">
							<mb-icon>{{::(page.icon || 'attachment')}}</mb-icon>
							<p mb-translate>{{::page.title}}</p>
						</md-list-item>
					</md-list>
				</md-content>
			</md-sidenav>
			<div
				layout="column"
				flex>
				<div 
					id="wb-select-resource-children"
					style="margin: 0px; padding: 0px; overflow: auto;"
					layout="column" 
					flex>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button
				aria-label="Cancel"
				ng-click="ctrl.cancel()"> 
				<span mb-translate="">Close</span> 
			</md-button>
			<md-button
				class="md-primary"
				aria-label="Done"
				ng-click="ctrl.answer()"> 
				<span mb-translate="">Ok</span> 
			</md-button>
	    </md-dialog-actions>
	</form>
</md-dialog>
