<md-content
	layout="column"
	layout-padding
	flex>
	
	<md-button ng-click="toggleProgress()">
		Toggle progress
	</md-button>
	
	<amd-titled-block
		amd-title="{{ctrl.myTitle | translate}}"
		mb-infinate-scroll="ctrl.progress"
		amd-icon="{{ctrl.myIcon}}">
		<p>It is an empty titled block. Value of following text field defines title and icon of it.</p>
		<div layout="row">			
			<span style="width: 50px">Title: </span>
			<am-wb-inline flex
				ng-model="ctrl.myTitle"
				am-wb-inline-type="text"
				am-wb-inline-label="Title of block"
				am-wb-inline-enable="true"
				mb-inline-on-seve="setTitle(ctrl.myTitle)">
				{{ ctrl.myTitle }}
			</am-wb-inline>
		</div>
		<div layout="row">			
			<span style="width: 50px">Icon: </span>
			<am-wb-inline flex
				ng-model="ctrl.myIcon"
				am-wb-inline-type="text"
				am-wb-inline-label="Icon of block"
				am-wb-inline-enable="true"
				mb-inline-on-seve="setIcon(ctrl.myIcon)">
				{{ ctrl.myIcon}}
			</am-wb-inline>
		</div>
	</amd-titled-block>
	
	<amd-titled-block
		amd-title="No icon block">
		<h2>Empty Titled Block</h2>
		<p>It is an empty titled block. Value of following text field defines title and icon of it.</p>
	</amd-titled-block>
	
</md-content>