<md-list ng-cloak>
	<md-list-item>
	    <wb-icon>face</wb-icon>
	    <p>User Id: </p>
	    <md-input-container style="margin: 0px" flex>
	        <input type="number"  ng-model="userId" flex>
	    </md-input-container>
	    <md-button ng-click="selectUser()"> select user </md-button>
	</md-list-item>
	<md-list-item>
	    <wb-icon>group</wb-icon>
	    <p>Group Id: </p>
	    <md-input-container style="margin: 0px" flex>
	        <input type="number"  ng-model="groupId" flex>
	    </md-input-container>
	    <md-button ng-click="selectGroup()"> select group </md-button>
	</md-list-item>
	<md-list-item>
	    <wb-icon>mood</wb-icon>
	    <p>Role Id: </p>
	    <md-input-container style="margin: 0px" flex>
	        <input type="number"  ng-model="roleId" flex>
	    </md-input-container>
	    <md-button ng-click="selectRole()"> select role </md-button>
	</md-list-item>
</md-list>
