<!-- 
   	User toolbar:
   	A simple user tolbar is added to show current user information. a
   	predefined user toolbar is used. You are free to contribute into 
   	it. See wiki for more info:
   	TODO: add wiki path
	See: htttp://gitlab.com/angular-material-dashboard/angular-material-dashboard/wiki			    	
-->
<amd-user-toolbar
	amd-actions="userActions">
</amd-user-toolbar>
<!-- 
	Settings
	Adding settings as dynamic tabs into the sidenav so users can
	access them by click on the sidnav toggle button in toolbar.
	TODO: add wiki path
	See: htttp://gitlab.com/angular-material-dashboard/angular-material-dashboard/wiki
-->
<amd-dynamic-tabs
	amd-tabs="settingTabs">
</amd-dynamic-tabs>
