<div
	layout="column" 
	layout-margin
	ng-cloak
	flex>
	<md-input-container 
		class="md-block">
		<label translate>Title</label>
		<input 
			required 
			md-no-asterisk 
			name="title" 
			ng-model="app.config.title" />
	</md-input-container>
	<md-input-container class="md-block">
	  <label translate>Description</label>
	  <input 
		md-no-asterisk 
  		name="description" 
  		ng-model="app.config.description" />
	</md-input-container>
    <wb-ui-setting-image
    	title="Logo" 
	    wb-ui-setting-clear-button="true"
	    wb-ui-setting-preview="true"
        ng-model="app.config.logo">
	</wb-ui-setting-image>
    <wb-ui-setting-image
    	title="Favicon" 
	    wb-ui-setting-clear-button="true"
	    wb-ui-setting-preview="true"
        ng-model="app.config.favicon">
	</wb-ui-setting-image>
</md-content>