<div 
	layout="column"
	layout-padding
	ng-cloak
	flex>
	<md-input-container class="md-icon-float md-block">
		<label mb-translate>Language</label>
		<md-select 
			ng-model="config[SETTING_LOCAL_LANGUAGE]">
			<md-option 
				ng-repeat="lang in [{
					title: 'Persian',
					key: 'fa'
				},{
					title: 'English',
					key: 'en'
				}]"
				ng-value="lang.key">{{::(lang.title | translate)}}</md-option>
		</md-select>
		<mb-icon
			style="cursor: pointer;" 
			ng-click="goToManage()">settings</mb-icon>
	</md-input-container>
	
	<md-input-container class="md-block">
		<label mb-translate>Direction</label>
		<md-select 
			ng-model="config[SETTING_LOCAL_DIRECTION]" 
			placeholder="Direction">
			<md-option 
				value="rtl" 
				mb-translate>Right to left</md-option>
			<md-option 
				value="ltr" 
				mb-translate>Left to right</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="md-block">
		<label mb-translate>Calendar</label>
		<md-select 
			ng-model="config[SETTING_LOCAL_CALENDAR]" 
			placeholder="">
			<md-option 
				value="Gregorian"
				mb-translate>Gregorian</md-option>
			<md-option 
				value="Jalaali"
				mb-translate>Jalaali</md-option>
		</md-select>
	</md-input-container>
	
	<md-input-container class="md-block">
		<label mb-translate>Date format</label>
		<md-select 
			ng-model="config[SETTING_LOCAL_DATEFORMAT]" 
			placeholder="">
			<md-option 
				value="jMM-jDD-jYYYY">
				<span mb-translate>Month  Day  Year,   </span> 
				<span>{{'2018-01-01 15:00:00' | mbDate:'jMM-jDD-jYYYY'}}</span> 
			</md-option>
			<md-option 
				value="jYYYY-jMM-jDD">
				<span mb-translate>Year  Month  Day,   </span>
				<span>{{'2018-01-01 00:00:00' | mbDate:'jYYYY-jMM-jDD'}}</span>
			</md-option>
			<md-option 
				value="jYYYY jMMMM jDD">
				<span mb-translate>Year  Month  Day,   </span>
				<span>{{'2018-01-01 15:00:00' | mbDate:'jYYYY jMMMM jDD'}}</span>
			</md-option>
		</md-select>
	</md-input-container>
	
	<md-input-container class="md-block">
		<label mb-translate>Date Time format</label>
		<md-select 
			ng-model="config[SETTING_LOCAL_DATETIMEFORMAT]" 
			placeholder="">
			<md-option 
				value="jMM-jDD-jYYYY HH:mm:ss">
				<span mb-translate>Month  Day  Year ,</span> 
				<span>{{'2018-01-01 15:00:00' | mbDate:'jMM-jDD-jYYYY HH:mm:ss'}}</span>
			</md-option>
			<md-option 
				value="jYYYY-jMM-jDD HH:mm:ss">
				<span mb-translate>Year  Month  Day,</span>
				<span>{{'2018-01-01 15:00:00' | mbDateTime:'jYYYY-jMM-jDD HH:mm:ss'}}</span>
			</md-option>
		</md-select>
	</md-input-container>
	
	<div
		layout="row">
		<md-button
			ng-click="ctrl.save()"
			translate>Save</md-button>
	</div>

</div>