<div layout="column"
	layout-align="center center" 
	layout-margin
	style="min-height: 300px"
	flex>
	
<!-- 	<md-input-container class="md-block"> -->
<!-- 		<label translate>Language</label> -->
<!-- 		<md-select  -->
<!-- 			ng-model="myLanguage"  -->
<!-- 			ng-change="updateLanguage()"> -->
<!-- 				<md-option ng-repeat="lang in languages" -->
<!-- 					value="{{lang.key}}"  -->
<!-- 					translate>{{lang.title}}</md-option> -->
<!-- 		</md-select> -->
<!-- 	</md-input-container> -->
	
	<div layout="column"
		layout-align="center start">	
		<p>{{'Select default language of site' | translate}}:</p>
		<md-checkbox ng-repeat="lang in languages"
			style="margin: 8px;"
			ng-checked="myLanguage.key === lang.key"
			ng-click="setLanguage(lang)"
			aria-label="{{lang.key}}">
			{{lang.title | translate}}
	    </md-checkbox>
	</div>
	
	
</div>