<md-input-container class="md-block">
	<label>Travel Date</label>
	<md-datepicker 
		aria-label="Travel Date"
		name="travelDate"
		ng-model="ctrl.travelDate"
		ng-model-options="{getterSetter: true, debounce: 200}"></md-datepicker>
</md-input-container>

<md-input-container class="md-block">
	<label>Return Date</label>
	<md-datepicker 
		aria-label="Return Date"
		name="returnDate"
		ng-model="ctrl.returnDate"
		ng-model-options="{getterSetter: true, debounce: 200}"></md-datepicker>
</md-input-container>
	
