/**********************************************************************************
 mbStatus
**********************************************************************************/


/****************************************************************************************
Theme: default
Class: .md-default-theme

Pallet:
- Primary: rgb(63,81,181)
*****************************************************************************************/
mb-status.md-default-theme {
	background: rgb(63,81,181);
	color: rgb(243, 243, 243);
}

/****************************************************************************************
Theme: dark
Class: .md-dark-theme


Pallet:
- Primary: rgb(0,0,0)
*****************************************************************************************/
mb-status.md-dark-theme {
	background: rgb(0, 0, 0);
	color: rgba(255,255,255,0.87);
}



