/**********************************************************************************
mbToolbar
**********************************************************************************/
mb-toolbar-group {
	min-height: 24px !important;
	padding: 0px !important;
	margin: 0px !important;
	
	display: block;
	
	overflow: hidden;
}

mb-toolbar-group>mb-toolbar {
	display: inline-block;
	
	height: 24px !important;
	overflow: hidden;
}

mb-toolbar-group>.left {
	float: left;
}

mb-toolbar-group>.right {
	float: right;
}

mb-toolbar>mb-toolbar-item.mbAction {
	margin: 0px !important;
	padding: 4px !important;
	cursor: pointer !important;
}


/****************************************************************************************
Theme: default
Class: .md-default-theme

Pallet:
- Primary: rgb(63,81,181)
*****************************************************************************************/
mb-toolbar-group.md-default-theme {
	background: rgb(63,81,181);
	color: rgb(243, 243, 243);
}

mb-toolbar.md-default-theme {
	background: rgb(63,81,181);
	color: rgb(243, 243, 243);
}

/****************************************************************************************
Theme: dark
Class: .md-dark-theme


Pallet:
- Primary: rgb(0,0,0)
*****************************************************************************************/
mb-toolbar-group.md-dark-theme {
	background: rgb(0, 0, 0);
	color: rgba(255,255,255,0.87);
}

mb-toolbar.md-dark-theme {
	background: rgb(46, 52, 54);
	color: rgb(243, 243, 243);
}



