<div ng-message="403"
	layout="column"
	layout-align="center center">
	<mb-icon size="64px">do_not_disturb</mb-icon>
	<strong mb-translate>Access denied</strong>
	<p mb-translate>You are not allowed to access this item.</p>
</div>


<div ng-message="404"
	layout="column"
	layout-align="center center">
	<mb-icon size="64px">visibility_off</mb-icon>
	<strong mb-translate>Not found</strong>
	<p mb-translate>Requested item not found.</p>
</div>

<div ng-message="500"
	layout="column"
	layout-align="center center">
	<mb-icon size="64px">bug_report</mb-icon>
	<strong mb-translate>Server error</strong>
	<p mb-translate>An internal server error is occurred.</p>
</div>