<div ng-message="403"
	layout="column"
	layout-align="center center">
	<wb-icon size="64px">do_not_disturb</wb-icon>
	<strong translate>Access denied</strong>
	<p translate>You are not allowed to access this item.</p>
</div>


<div ng-message="404"
	layout="column"
	layout-align="center center">
	<wb-icon size="64px">visibility_off</wb-icon>
	<strong translate>Not found</strong>
	<p translate>Requested item not found.</p>
</div>

<div ng-message="500"
	layout="column"
	layout-align="center center">
	<wb-icon size="64px">bug_report</wb-icon>
	<strong translate>Server error</strong>
	<p translate>An internal server error is occurred.</p>
</div>