<div 
	layout="row"
	layout-align="start center">
	<md-button 
		class="md-icon-button" 
		hide-gt-sm 
		ng-click="toggleItemsList()" 
		aria-label="Menu">
		<wb-icon>menu</wb-icon>
	</md-button>
	
	<img 
		hide-gt-sm 
		height="32px"
		ng-if="app.config.logo"
		ng-src="{{app.config.logo}}" />
	<strong
		hide-gt-sm
		style="padding: 0px 8px 0px 8px;">
		{{app.config.title}}
	</strong>
	<amd-navigation-bar
		hide
		show-gt-sm
		ng-show="app.setting.navigationPath">
	</amd-navigation-bar>
</div>
<div
	layout="row"
	layout-align="end center">
	<!-- scope menu -->
	<md-button
		ng-repeat="menu in scopeMenu.items | orderBy:['-priority']"
		ng-show="menu.visible()"
		ng-click="menu.active()"
		class="md-icon-button">
		<md-tooltip ng-if="menu.tooltip">{{menu.tooltip}}</md-tooltip>
		<wb-icon ng-if="menu.icon">{{menu.icon}}</wb-icon>
	</md-button>
	<md-divider ng-if="scopeMenu.items.length"></md-divider>
	<md-button
		ng-repeat="menu in toolbarMenu.items | orderBy:['-priority']"
		ng-show="menu.visible()"
		ng-click="menu.active()"
		class="md-icon-button">
		<md-tooltip ng-if="menu.tooltip">{{menu.tooltip}}</md-tooltip>
		<wb-icon ng-if="menu.icon">{{menu.icon}}</wb-icon>
	</md-button>
	
	
<!-- 	<md-button  -->
<!-- 		class="md-icon-button"  -->
<!-- 		ng-click="showHelp = !showHelp"  -->
<!-- 		aria-label="Help sidenav"> -->
<!-- 		<wb-icon>help</wb-icon> -->
<!-- 	</md-button> -->
<!-- 	<md-button  -->
<!-- 		class="md-icon-button"  -->
<!-- 		aria-label="Settings"  -->
<!-- 		ng-click="toggleRightSidebar()"> -->
<!-- 		<wb-icon>menu</wb-icon> -->
<!-- 	</md-button> -->
	
	<amd-user-menu></amd-user-menu>
	<md-button
		ng-repeat="menu in userMenu.items | orderBy:['-priority']"
		ng-show="menu.visible()"
		ng-click="menu.active()"
		class="md-icon-button">
		<md-tooltip ng-if="menu.tooltip">{{menu.tooltip}}</md-tooltip>
		<wb-icon ng-if="menu.icon">{{menu.icon}}</wb-icon>
	</md-button>
</div>
