<div
	class="mb-navigation-path-bar"
	md-colors="{'background-color': 'primary'}"
	layout="row">
	<div layout="row">
		<md-button ng-click="goToHome()"
                        aria-label="Home"
			class="mb-navigation-path-bar-item mb-navigation-path-bar-item-home">
			<md-tooltip ng-if="menu.tooltip" md-delay="1500">{{'home' | translate}}</md-tooltip>
			<wb-icon>home</wb-icon>
		</md-button>
	</div>
	<div layout="row"
		data-ng-repeat="menu in pathMenu.items | orderBy:['-priority']">
		<wb-icon>{{app.dir==='rtl' ? 'chevron_left' : 'chevron_right'}}</wb-icon>
		<md-button
			ng-show="isVisible(menu)"
			ng-href="{{menu.url}}"
			ng-click="menu.exec($event);"
			class="mb-navigation-path-bar-item">
			<md-tooltip ng-if="menu.tooltip" md-delay="1500">{{menu.description}}</md-tooltip>
			<wb-icon ng-if="menu.icon">{{menu.icon}}</wb-icon>
			{{menu.title | translate}} 
		</md-button>
<!-- 		<wb-icon ng-show="$index &lt; pathMenu.items.length - 1">chevron_left</wb-icon> -->
	</div>
</div>