<div id="mb-panel-root"
	md-theme="{{app.setting.theme || 'default'}}" 
	md-theme-watch
	ng-class="{'mb-rtl-direction': app.dir=='rtl', 'mb-ltr-direction': app.dir!='rtl'}"
	dir="{{app.dir}}"
	layout="column"
	layout-fill>
	<!-- TODO: THIS PART WILL BE REMOVED -->

	<div id="mb-panel-root-ready"
		ng-if="app.state.status === 'ready'"
		layout="column"
		layout-fill>
		
<!-- 		<mb-navigation-bar -->
<!-- 			hide-gt-sm -->
<!-- 			ng-show="app.setting.navigationPath"> -->
<!-- 		</mb-navigation-bar> -->
		
		<!-- Main body -->
		<!-- System states and data will be displayed at this element. -->
		<div id="mb-panel-root-ready-anchor"
			layout="row"
			flex>
		    <md-whiteframe 
		    	layout="row"
		    	id="main"
		    	class="md-whiteframe-24dp main mb-page-content" 
		    	ng-view 
		    	flex>
		    </md-whiteframe>
		</div>
	</div>

	<div ng-if="app.state.status === 'loading'"
		layout="column"
		layout-align="center center"
		layout-fill>
		<h4 translate>{{app.state.stage}}</h4>
		<p translate>{{app.state.message}}</p>
		<md-progress-linear 
			style="width: 50%"
			md-mode="indeterminate">
		</md-progress-linear>
		<md-button ng-if="app.state.status === 'fail'"
			class="md-raised md-primary"
			ng-click="restart()" 
			aria-label="Retry">
			<wb-icon>replay</wb-icon> retry
		</md-button>
	</div>

	<div ng-if="app.state.status === 'anonymous'"
		layout="row"
		layout-aligne="none"
		layout-align-gt-sm="center center"
		ng-controller="MbAccountCtrl"
		flex>
		<div 
			md-whiteframe="3"
			flex="100"
			flex-gt-sm="50"
			layout="column"
			mb-preloading="ctrl.loadUser">
			<!-- Toolbar -->
			<md-toolbar 
				layout="row" 
				layout-padding>
				<!-- TODO: toolbar items -->
				<img 
					width="160"
					height="160"
					ng-show="app.config.logo"
					ng-src="{{app.config.logo}}" />
				<p>
					<strong>{{app.config.title}}</strong><br/>
					<em>{{app.config.description}}</em>
				</p>
			</md-toolbar>
			<!-- body -->
			<div
				ng-show="errorMessage">
				{{errorMessage}}
			</div>
			<form
				name="loginForm"
				ng-submit="login(credit)" 
				layout="column" 
				layout-padding>
		        <md-input-container>
		            <label translate>Username</label>
		            <input name="login" ng-model="credit.login" type="text" required>
		            <div ng-messages="loginForm.login.$error">
						<div ng-message="required" translate>This is required!</div>
					</div>
		        </md-input-container>
		        <md-input-container>
		            <label translate>Password</label>
		            <input name="password" ng-model="credit.password" type="password" required>
		            <div ng-messages="loginForm.password.$error">
						<div ng-message="required" translate>This is required!</div>
					</div>
		        </md-input-container>
		        <div 
		        	layout="column" layout-align="none"
		        	layout-gt-sm="row" layout-align-gt-sm="space-between center"
		        	layout-padding>
		        	<div
		        		layout="column"
		        		flex-order="1" 
		        		flex-order-gt-sm="-1">
		        		<!-- TODO: maso, 2018: add password recovery -->
		        	</div>
		        		<!-- TODO: maso, 2018: Enable recaptcha -->
  	<!-- 			<amh-captcha -->
	<!-- 			    ng-model="credit.g_recaptcha_response">Hi -->
	<!-- 			</amh-captcha> -->
					<!-- XXX: maso, 2018: adding captcha -->
					<div
						ng-if="app.captcha.engine==='recaptcha' && app.captcha.recaptcha.key"
					    vc-recaptcha
					    ng-model="credit.g_recaptcha_response"
					    theme="app.captcha.theme || 'light'"
					    type="app.captcha.type || 'image'"
					    key="app.captcha.recaptcha.key"
					    lang="app.captcha.language || 'fa'">
					</div>
				        	
			        <input hide type="submit" />
		        	<md-button 
		        		flex-order="0" 
	      		  		class="md-primary md-raised" 
		        		ng-click="login(credit)"><span translate>Login</span></md-button>
		        </div>
			</form>
		</div>
	</div>
</div>