<div class="wrapper-stack-toolbar-container top-corner-round">
  <!-- Action bar -->
  <div
    md-colors="{background: 'primary'}">
    <div class="md-toolbar-tools">
      <md-button
        ng-if="mbIcon"
        md-no-ink class="md-icon-button"
        aria-label="{{mbIcon}}">
        <wb-icon>{{mbIcon}}</wb-icon>
      </md-button>
      <h2 flex md-truncate ng-show="mbTitle">{{mbTitle}}</h2>
      <md-button
        ng-if="reload"
        class="md-icon-button"
        aria-label="Reload"
        ng-click="reload()">
        <wb-icon>repeat</wb-icon>
      </md-button>
      <md-button
        ng-show="mbSortKeys"
        class="md-icon-button"
        aria-label="Sort"
        ng-click="showSort = !showSort">
        <wb-icon>sort</wb-icon>
      </md-button>
      <md-button
        ng-show="mbEnableSearch"
        class="md-icon-button"
        aria-label="Search"
        ng-click="showSearch = true; focusToElement('searchInput');">
        <wb-icon>search</wb-icon>
      </md-button>
      <md-button
        ng-if="exportData"
        class="md-icon-button"
        aria-label="Export"
        ng-click="exportData()">
        <wb-icon>save</wb-icon>
      </md-button>


      <md-menu ng-show="mbMoreActions.length">
        <md-button
          aria-label="Open phone interactions menu"
          class="md-icon-button"
          ng-click="$mdOpenMenu($event)">
          <wb-icon>more_vert</wb-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item
            ng-repeat="item in mbMoreActions">
            <md-button
              ng-click="item.action()">
              <wb-icon ng-show="item.icon">{{item.icon}}</wb-icon>
              <span translate>{{ item.title }}</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>

  <!-- Search -->
  <div
    class="stack-toolbar new-box-showing-animation"
    md-colors="{background: 'primary-hue-3'}"
    ng-show="showSearch">
    <div class="md-toolbar-tools">
      <md-button
        style="min-width:0px"
        ng-click="showSearch = false"
        aria-label="Back">
        <wb-icon class="icon-rotate-180-for-rtl">arrow_back</wb-icon>
      </md-button>

      <md-input-container flex md-theme="dark" md-no-float class="md-block fit-input">
        <input
          id="searchInput"
          placeholder="{{'Search'|translate}}"
          ng-model="query.searchTerm"
          ng-model-options="{debounce:1000}">
      </md-input-container>
      <!--<input
                  ng-model="temp.query"
                  ng-keyup="$event.keyCode == 13 ? query.searchTerm=temp.query : null">-->
      <!--			<md-button
                      aria-label="Search"
                      ng-click="showSearch = !showSearch">
                      <wb-icon>search</wb-icon>
                  </md-button>-->
    </div>
  </div>

  <!-- Sort -->
  <div
    class="stack-toolbar new-box-showing-animation"
    md-colors="{background: 'primary-hue-3'}"
    ng-show="showSort">
    <div class="md-toolbar-tools">
      <md-button
        style="min-width:0px"
        ng-click="showSort = false"
        aria-label="Back">
        <wb-icon class="icon-rotate-180-for-rtl">arrow_back</wb-icon>
      </md-button>

      <h3 translate>Sort</h3>

      <span style="width: 10px"></span>

      <!-- Menu including sort keys -->
      <md-menu>
        <md-button md-colors="{background: 'primary'}" layout="row" style="text-transform: none;"
                   ng-click="$mdMenu.open()">
          <wb-icon>category</wb-icon>
          <h3>{{mbSortKeysTitles?mbSortKeysTitles[mbSortKeys.indexOf(query.sortBy)]:query.sortBy|translate}}</h3>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="key in mbSortKeys">
            <md-button ng-click="query.sortBy=key">
              <wb-icon ng-if="query.sortBy==key">check_circle</wb-icon>
              <wb-icon ng-if="query.sortBy!=key">radio_button_unchecked</wb-icon>
              {{mbSortKeysTitles?mbSortKeysTitles[$index]:key|translate}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <!-- Menu including sort type:asce and desc -->
      <md-menu>
        <md-button md-colors="{background: 'primary'}" layout="row" style="text-transform: none;"
                   ng-click="$mdMenu.open()">
          <wb-icon ng-if="!query.sortDesc" class="icon-rotate-180">filter_list</wb-icon>
          <wb-icon ng-if="query.sortDesc">filter_list</wb-icon>
          {{query.sortDesc?'Descending':'Ascending'|translate}}
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="query.sortDesc=false">
              <wb-icon ng-if="!query.sortDesc">check_circle</wb-icon>
              <wb-icon ng-if="query.sortDesc">radio_button_unchecked</wb-icon>
              {{'Ascending'|translate}}
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="query.sortDesc=true">
              <wb-icon ng-if="query.sortDesc">check_circle</wb-icon>
              <wb-icon ng-if="!query.sortDesc">radio_button_unchecked</wb-icon>
              {{'Descending'|translate}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <span flex/>


      <!-- old implementions -->
      <!--        <md-switch
                ng-model="query.sortDesc"
                aria-label="DESC">
                <span translate>DESC sort order</span>
              </md-switch>-->
      <!--<md-select ng-model="query.sortBy">
        <md-option
          ng-repeat="key in mbSortKeys"
          value="{{key}}"
          translate>{{key}}
        </md-option>
      </md-select>-->

    </div>
  </div>

</div>
