<div
	style="border-radius: 5px; margin: 5px 5px 10px 10px; padding: 0px; "
	md-whiteframe="4">
	<md-toolbar
		style="border-top-left-radius: 5px;border-top-right-radius: 5px; margin: 0px; padding: 0px">
		<div 
			layout="row"
			layout-align="start center"
			class="md-toolbar-tools">
			<wb-icon ng-if="amdIcon">{{amdIcon}}</wb-icon>
			<h3>{{amdTitle}}</h3>
		</div>
	</md-toolbar>
	<md-progress-linear
		ng-if="amdProgress"
		style="margin: 0px; padding: 0px"
		md-mode="indeterminate"
		class="md-warn"
		md-color>
	</md-progress-linear>
	<div 
		style="margin: 8px;"
		ng-transclude></div>
</div>