<ul
	id="mb-tree-root-element"
	class="mb-tree">
    <li 
    	md-colors="{borderBottomColor: 'background-600'}" 
    	ng-repeat="section in mbSection.sections | orderBy : 'priority'" 
    	ng-show="isVisible(section)">
        <mb-tree-heading
        	mb-section="section"
        	ng-if="section.type === 'heading'">
        </mb-tree-heading>
        <mb-tree-link
        	mb-section="section" 
        	ng-if="section.type === 'link'">
        </mb-tree-link>
        <mb-tree-toggle 
        	mb-section="section" 
        	ng-if="section.type === 'toggle'">
        </mb-tree-toggle>
    </li>
</ul>