<div
	layout="columne"
	class="mb-wizard">
	<div
		id="title">
		<h2>{{ctrl.title}}</h2>
		<p>{{ctrl.description}}</p>
		<img
			ng-src="{{ctrl.image}}">
	</div>
	<div id="body"></div>
	<div
		layout="row"
		id="actions">
		<md-button
			id="help"
			ng-show=""
			ng-click=""
			aria-disabled="">
			<span translate>Hlep</span>
		</md-button>
		<span flex></span>
		<md-button
			id="next"
			ng-show=""
			ng-click=""
			aria-disabled="">
			<span translate>Next</span>
		</md-button>
		<md-button
			id="back"
			ng-show=""
			ng-click=""
			aria-disabled="">
			<span translate>Back</span>
		</md-button>
		<md-button
			id="cancel"
			ng-show=""
			ng-click=""
			aria-disabled="">
			<span translate>Cancel</span>
		</md-button>
		<md-button
			id="finish"
			ng-show=""
			ng-click=""
			aria-disabled="">
			<span translate>Finish</span>
		</md-button>
	</div>
</div>