<div 
	id="mb-view-loading"
	layout="column"
	layout-align="center center"
	layout-fill>
	<img 
		width="256px"
		ng-src-error="images/logo.svg"
		ng-src="/api/v2/cms/contents/mb-preloading-brand/content" />
	<h3>Loading...</h3>
	<md-progress-linear 
		style="width: 50%"
		md-mode="indeterminate">
	</md-progress-linear>
	<md-button 
		ng-if="app.state.status === 'fail'"
		class="md-raised md-primary"
		ng-click="restart()" 
		aria-label="Retry">
	    <wb-icon>replay</wb-icon> retry
	</md-button>
</div>
