body {
	height: 100vh !important;
	overflow: hidden !important;
	
	display: flex;
	flex-direction: column;
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

mb-toolbar-group {
	width: 100vw !important;
	flex-grow: 0;
	flex-shrink: 0;
}

mb-view {
	width: 100vw !important;
	flex-grow: 1;
	flex-shrink: 1;
}

.mb_docker_body {
	width: 100% !important;
}

.mb_docker_panel{
	width: 100% !important;
}


mb-status {
	width: 100vw !important;
	flex-grow: 0;
	flex-shrink: 0;
}
