/*
 * This class added into the element in preload state.
 */
.mb-preload {
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../test-images/loader/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
	background-position: center;
}

/*
 * This class added to elements in preload initialization
 */
.mb-preload-animate {
	transition: all linear 0.5s;
}


/*
 * Page animation
 */
.mb-preload.page {
	
}

/*
 * List animation
 */
.mb-preload.list {
	
}