<md-content>
	<mb-inline-help>In this view you can explor through all demo and tutorials. Just click on them to open a view and follow
		instructions. The url of a demo views must start with '/demo/', then it will be fetch and listed automatically.
	</mb-inline-help>
	<md-toolbar>test</md-toolbar>
	<md-list flex>
		<md-list-item ng-href="/demo/core">
			<p>Core Utilities</p>
		</md-list-item>
		<md-list-item ng-href="/demo/ui">
			<p>UI Basics</p>
		</md-list-item>
		<md-list-item ng-href="/demo/components">
			<p>UI Component</p>
		</md-list-item>
		<md-list-item ng-href="/demo/core/resources/file">
			<p>Resource file</p>
		</md-list-item>
	</md-list>
</md-content>