<md-content layout="column" layout-padding flex>

	<h2>Common Table</h2>
	<table>
		<caption>Monthly savings</caption>
		<tr ng-repeat="item in ctrl.items">
			<td>{{itme.title}}</td>
			<td>{{item.value}}</td>
		</tr>
	</table>

	<h2>amd-table</h2>
	<table class="amd-table">
		<caption>Monthly savings</caption>
		<tr ng-repeat="item in ctrl.items">
			<td>{{item.title}}</td>
			<td>{{item.value}}</td>
		</tr>
	</table>

	<h2>amd-table-discription</h2>
	<table class="amd-table amd-table-description">
		<caption>Monthly savings</caption>
		<tr ng-repeat="item in ctrl.items">
			<td>{{item.title}}</td>
			<td>{{item.value}}</td>
		</tr>
	</table>

</md-content>