<md-content
	wb-infinate-scroll="nextPage"
	layout="column"
	flex>
	
	<!-- Action bar -->
	<amd-pagination-bar
		amd-model="paginatorParameter"
		amd-reload="reload"
		amd-sort-keys="sortKeys"
		amd-more-actions="moreActions">
	</amd-pagination-bar>
	
	<md-list flex>
		<md-list-item 
			ng-repeat="user in ctrl.items track by user.id"
			ng-click="selectUserId(user)"
			class="md-3-line">
			<img 
				ng-src="/api/user/{{user.id}}/avatar" 
				class="md-avatar"/>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{user.first_name}} - {{user.last_name}}</h3>
				<h4>
					<span ng-show="user.active">
						<span translate>Active</span>,
					</span>
					<span ng-hide="user.active">
						<span translate>Unactive</span>,
					</span>
					<span ng-show="user.administrator">
						<span translate>Administrator</span>,
					</span>
					<span ng-show="user.staff">
						<span translate>Staff</span>,
					</span>
				</h4>
				<p>
					<span translate>Joined</span>: {{user.date_joined}},
					<span translate>Last Login</span>: {{user.last_login}},
				</p>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
		<!-- حالت لود را تعیین می‌کند. -->
		<md-progress-circular 
			ng-show="ctrl.status === 'working'" 
			md-diameter="96"> Loading ...
		</md-progress-circular>
	</md-list>
	<div
		layout="column"
		layout-align="center center"
		ng-show="!ctrl.items || ctrl.items.length == 0">
		<h2>Empty user list</h2>
		<p>There is not exist any user match with the query</p>
	</div>
</md-content>

