<div
	wb-infinite-scroll="nextPage"
	layout="column"
	flex>
	
	<amd-pagination-bar
		amd-model="paginatorParameter"
		amd-reload="reload"
		amd-sort-keys="sortKeys">
	</amd-pagination-bar>
	<!-- role info -->
	<md-list flex>
		<md-list-item 
			ng-repeat="role in ctrl.items"
			ng-click="selectRoleId(role)"
			class="md-3-line">
			<wb-icon>mood</wb-icon>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{role.name}}</h3>
				<h4></h4>
				<p>{{role.description}}</p>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
		<!-- حالت لود را تعیین می‌کند. -->
		<md-progress-circular 
			ng-show="ctrl.status === 'working'" 
			md-diameter="96"> Loading ...
		</md-progress-circular>
	</md-list>
  	<div
		layout="column"
		layout-align="center center"
		ng-show="!ctrl.items || ctrl.items.length == 0">
		<h2>Empty role list</h2>
		<p>There is not exist any role match with the query</p>
	</div>
</div>
