<md-content 
	layout="column" 
	layout-padding
	flex>
	<md-input-container 
		class="md-icon-float md-icon-right md-block"
		required>
		<label translate>Title</label>
		<input ng-model="module.title">
	</md-input-container>
	<md-input-container 
		class="md-icon-float md-icon-right md-block"
		required>
		<label translate>Description</label>
		<input ng-model="module.description">
	</md-input-container>
	<md-input-container 
		class="md-icon-float md-icon-right md-block"
		required>
		<label translate>URL</label>
		<input ng-model="module.url" required="true">
	</md-input-container>
	<md-input-container 
		class="md-icon-float md-icon-right md-block"
		required>
		<label translate>Logo</label>
		<input ng-model="module.logo">
	</md-input-container>
	<md-input-container 
		class="md-icon-float md-icon-right md-block"
		required>
		<label translate>type</label>
		<input ng-model="module.type" required="true">
	</md-input-container>
</md-content>
