<md-dialog 
	mb-local
	aria-label="Select item/items"
	style="width:50%; height:70%;">
	<md-content ng-cloak layout="column" flex>
		<!-- Progress -->
		<md-progress-linear
			ng-style="{'visibility': ctrl.isBusy?'visible':'hidden'}"
			md-mode="indeterminate"
			class="md-primary">
		</md-progress-linear>
		<md-dialog-content
			flex
			layout="row">
			<div
				layout="column"
				flex>
				<div 
					id="wb-select-resource-children"
					style="margin: 0px; padding: 0px; overflow: auto;"
					layout="column" 
					flex>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button
				ng-click="ctrl.cancel()"
				aria-label="Cancel"> 
				<span mb-translate="">Close</span> 
			</md-button>
			<md-button
				class="md-primary"
				aria-label="Done"
				ng-click="ctrl.answer()"> 
				<span mb-translate="">Ok</span> 
			</md-button>
	    </md-dialog-actions>
	</md-content>
</md-dialog>
