<md-content 
	class="md-padding"
	layout-padding
	flex
	amh-preloading="ctrl.loadUser || ctrl.loadProfile || ctrl.saveProfile">
	
	<div layout-gt-sm="row" layout="column">
		<!-- Contacts -->
		<section 
			flex-gt-sm="50" 
			layout="column" 
			md-whiteframe="1"
			layout-margin>
			<h3 translate>Contacts information</h3>
			<form
				name="contactForm"
				layout="column" 
				layout-padding>
				<md-input-container layout-fill>
			        <label translate>Site</label>
			        <input ng-model="ctrl.profile.site">
			    </md-input-container>
				<md-input-container layout-fill>
			        <label translate>Public email</label>
			        <input name="email" ng-model="ctrl.profile.email" type="email">
			        <div ng-messages="contactForm.email.$error">
		              	<div ng-message="email">This is required.</div>
		            </div>
			    </md-input-container>
			    <md-input-container layout-fill>
			        <label translate>Phone number</label>
			        <input ng-model="ctrl.profile.phone">
			    </md-input-container>
			    <md-input-container layout-fill>
			        <label translate>Mobile number</label>
			        <input ng-model="ctrl.profile.mobile">
			    </md-input-container>
			</form>
		</section>
		
		<!-- Social -->
		<section 
			flex-gt-sm="50"
			layout="column" 
			md-whiteframe="1"
			layout-margin>
			<h3 translate>Social networks information</h3>
			<form
				name="socialForm"
				layout="column" 
				layout-padding>
			    <md-input-container layout-fill>
			        <label translate>LinkedId</label>
			        <input ng-model="ctrl.profile.linkedin">
			    </md-input-container>    
			    <md-input-container layout-fill>
			        <label translate>Telegram</label>
			        <input ng-model="ctrl.profile.telegram">
			    </md-input-container>    
			    <md-input-container layout-fill>
			        <label translate>Facebook</label>
			        <input ng-model="ctrl.profile.facebook">
			    </md-input-container>
		    </form>  
		</section>
	</div>
	
	<div layout-gt-sm="row" layout="column">
		<!-- All informations in profile -->
		<section 
			layout="column" 
			md-whiteframe="1"
			layout-fill
			layout-margin>
			<h3 translate>Overall profile info</h3>
			<div
				name="overalForm"
				layout="column" 
				layout-padding>
		        <label layout-fill 
		        	ng-repeat="(key, value) in ctrl.profile"
		        	ng-if="value">
	        		<span translate>{{key}}</span>: {{value}}
        		</label>
			</div>
		</section>
	</div>
	
	<div layout="column" layout-align="center none"
     			layout-gt-xs="row" layout-align-gt-xs="end center">
    	<md-button 
    		 class="md-raised md-primary"
    		 ng-click="save()">
<!-- 			<wb-icon>save</wb-icon> -->
    		<sapn translate>update</sapn>
    	</md-button>
    </div>
</md-content>
